.emp-template 
{
    margin:4% 8%;
    padding: 2% 2%;
    background-color: rgb(194, 243, 246,0.3);
}
.default-image
{
    flex: 1 0 auto;
    width: 100px;
    height: 90px;
}

#user-image
{
    /* width: 40%; */
    height: 90px;
    width: 100px;
}
.user-name
{
    width: 100%;
    font-size: large;
    align-self: center;
    padding-left: 10%;
    font-weight: 300;
}
.bi-three-dots-vertical
{
    justify-content: end;
}
