<section class="mobile-ui">
    <header class="header d-flex justify-content-between">
        <i class="bi bi-list"></i>
        <div class="search-bar position-relative">
            <i class="bi bi-search"></i><input type="text" placeholder="Enter Your Keyword" class="search-input">
        </div>
        <i class="bi bi-filter" (click)="showfilter()"></i>
    </header>
    <div *ngIf="showFilter" class="filter-by d-flex align-items-center justify-content-end">
        <label for="filters-by" class="text">Filter by:</label>
        <select name="filters" id="filtersDropDown" [(ngModel)]="selectedFilter" (ngModelChange)="onFilterChange()">
            <option value="{{filters}}" *ngFor="let filters of dropDownFilter">{{filters}}</option>
        </select>
    </div>
    <hr>
    <div class="d-flex btn">
        <button class="add-emp">Add Employee</button>
    </div>
    <div class="emp-container d-flex">
        <div class="div">
            <div class="employee" *ngFor="let emp of employee">
                <app-mobile-emp-template [emp]="emp"></app-mobile-emp-template>
            </div>
        </div>
        <div class="char-filter d-flex flex-column my-3">
            <div class="char" *ngFor="let x of filters">
                {{x}}
            </div>
        </div>
    </div>



</section>
