section{
    top: 0;
    background-color: white;
}
.add-photo-label
{
    left: 5%;
    bottom: 14%;
}
.user-img>img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-img
{
    height: 100px;
    width: 100px;
    background-color: rgb(47, 108, 152);
}
#user-img
{
    width: 40%;
}
.bi-x-lg
{
    color:red;
    font-size: 240%;
}
#check-button
{
    border:none;
    background-color:white;
}
.bi-check-lg
{
    font-size: 240%;
    border:none;
    color: rgb(104, 147, 40);
    background-color: white;

}
.input-form
{
    justify-content: center;
    margin: 0 10%;
}
#heading
{
    font-size: 1.7rem;
    color: rgb(9, 49, 118);
    padding: 3% 0;
}
.input-fields
{
    width:100%;
    align-items: flex-start;
}
.input-fields
{
    margin: 3% 0% 3% 0%;
}
.input-fields>label{
    /* margin:2% 0; */
    font-weight: 200;
}
.input-fields input,.input-fields select
{
    width: 80%;
    border: 1px solid black;

}

input,select
{
    padding:1% 0;
    box-shadow: inset;
    
}
.form-container
{
    width: 30%;
    top:8%;
    left:36%;
    background-color: rgb(193, 173, 25);
    border-radius: 2%;
    padding: 3%;
}
.btn
{
    width: 50%;
    margin: 1% 0;
}

input::content
{
    padding-left: 2%;
}
input::placeholder
{
    color: rgb(183,183,183);
    font-weight: 200;
}
.is-invalid
{
    border: 2px solid red;
}
.footer
{
    width: 100%;
}
.file-input
{
    opacity: 0;
    bottom:10%;
    left:10%;
}

