<section *ngIf="showMobileForm"  @sidedrawer>
    <form class="d-flex flex-column input-form" #form="ngForm" (ngSubmit)="addEmployee(form)">
        <header id="heading">Add Employee</header>
       <div class="add-photo ">
           <div class="user-img ">
               <img [src]="imageUrl" *ngIf="imageUrl">
           </div>
           <div class="position-relative">
               <span class="add-photo-label position-absolute" *ngIf="!imageUrl">Add Photo</span>
               <input class="file-input position-absolute" type="file" (change)="selectedImage($event)"  name="user_image">
           </div>
       </div>
       <span class="d-flex flex-column  input-fields">
            <label for="firstName" >First Name</label>
            <input type="text" #fstName="ngModel" required [class.is-invalid]="fstName.invalid && fstName.touched"
                placeholder="FirstName" id="firstName" [(ngModel)]="firstName" name="firstname">
        </span>
        <div class="error text-danger " [class.d-none]="fstName.valid || fstName.untouched">Enter Your First Name </div>

        <span class="d-flex flex-column input-fields">
            <label for="lastName" >Last Name</label>
            <input required [class.is-invalid]="lstName.invalid && lstName.touched"
                type="text" #lstName="ngModel" [(ngModel)]="lastName" placeholder="LastName" id="lastName"
                name="lastName">
        <div class="error text-danger " [class.d-none]="lstName.valid || lstName.untouched">Enter Your Last Name</div></span>

        <span class="d-flex flex-column input-fields">
            <label for="preferredName" >Preferred Name</label>
            <input type="text" [(ngModel)]="preferredName" placeholder="PreferredName"
                id="preferredName" name="preferredName" disabled></span>

        <span class="d-flex flex-column input-fields">
            <label for="email" >Email</label>
            <input required [class.is-invalid]="emailField.invalid && emailField.touched" type="email"
                #emailField="ngModel" [(ngModel)]="email" placeholder="Email" id="email" name="email">
        </span>
        <div class="error text-danger " [class.d-none]="emailField.valid || emailField.untouched">Enter Your Email</div>

        <span class="d-flex flex-column input-fields">
            <label for="skype" >skypeId</label>
            <input required [class.is-invalid]="skype.invalid && skype.touched" type="text"
                #skype="ngModel" [(ngModel)]="skypeId" placeholder="SkypeId" id="skype" name="skype">
        </span>
        <div class="error text-danger " [class.d-none]="skype.valid || skype.untouched">Enter Your Skype Id</div>

        <span class="d-flex flex-column input-fields ">
            <label for="phoneNumber" >Phone Number</label>
            <input required pattern="^\d{10}$" [class.is-invalid]="phnNumber.invalid && phnNumber.touched"
                type="tel" #phnNumber="ngModel" [(ngModel)]="phoneNumber" placeholder="PhoneNumber" id="phoneNumber"
                name="phoneNumber"></span>
        <div *ngIf="phnNumber.errors && (phnNumber.invalid && phnNumber.touched)">
            <div class="error text-danger" *ngIf="phnNumber.errors['required']">Enter Your PhoneNumber</div>
            <div class="error text-danger" *ngIf="phnNumber.errors['pattern']">Phone Number Must Be of 10 Digits</div>
        </div>
        

        <span class="d-flex flex-column input-fields">
            <label for="dept" >Departement</label>
            <select required [class.is-invalid]="dptName.invalid && dptName.touched"
                name="dept" id="dept" #dptName="ngModel" [(ngModel)]="dept">
                <option value="{{dept}}" *ngFor="let dept of departements" [selected]='dept=="IT"'>{{dept}}</option>
            </select></span>
        <div class="error text-danger " [class.d-none]="dptName.valid || dptName.untouched">Please Select Your
            Departement</div>

        <span class="d-flex flex-column input-fields">
            <label for="offices" >Offices</label>
            <select required [class.is-invalid]="officeName.invalid && officeName.touched"
                name="office" #officeName="ngModel" [(ngModel)]="office" id="offices">
                <option value="{{office}}" *ngFor="let office of offices" [attr.selected]="office=='Seattle'">{{office}}
                </option>
            </select></span>
        <div class="error text-danger " [class.d-none]="officeName.valid || officeName.untouched">Please Select You
            Office</div>

        <span class="d-flex flex-column input-fields">
            <label for="jobTitles" >Job Titles</label>
            <select required [class.is-invalid]="jbTitle.invalid && jbTitle.touched"
                name="jobTitle" #jbTitle="ngModel" [(ngModel)]="jobTitle" id="jobTitles">
                <option value="{{title}}" *ngFor="let title of jobTitles" [selected]='title=="BI Developer"'>{{title}}
                </option>
            </select></span>
        <div class="error text-danger " [class.d-none]="jbTitle.valid || jbTitle.untouched">Please Select Your Job Title
        </div>
        <div class="footer d-flex justify-content-evenly">
            <i class="bi bi-x-lg" (click)="cancelEmpMobileForm($event)"></i>
            <button type="submit" id="check-button" [disabled]="form.form.invalid"><i class="bi bi-check-lg"></i></button>
        </div>
    </form>
</section>