<div class="emp-details-container d-flex" (click)="showForm($event)">
    <div class="user-image d-flex">
        <img src="assets/data/user.png" alt="">
    </div>
    <div class="user-details">
        <p id="preferName">{{empName}}</p>
        <p id="jobTitle">{{empJobTitle}}</p>
        <p id="departement">{{empDepartement}}</p>
        <div class="footer-icons">
            <i class="bi bi-envelope-fill"></i>
            <i class="bi bi-telephone-fill"></i>
            <i class="bi bi-chat-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-heart-fill"></i>
        </div>
    </div>
</div>