p{
    margin:0;
}
.user-details>*
{
    margin: 3% 0;
}
#user-img
{
    width: 100%;
}
.user-image
{
    width: 38%;
    padding-right: 2%;
}
.emp-details-container
{
    height: 100px;
    background-color: rgb(233,233,233);
    margin: 4% 4px 2% 4%;
    min-width: 240px;
    
}
.footer-icons>i
{
    padding: 0 3%;
    font-size: 80%;
}
#preferName
{
    font-size: 90%;
    font-weight: 400;
    
}
#jobTitle,#departement
{
    font-size: 70%;
    font-weight: 300;
    color:rgba(73, 73, 73, 0.571)
}
